{% extends 'base.html.twig' %}

{% block title %}
	AccueilBookCook
{% endblock %}


{% block body %}
	{# Formulaire de recherche #}
	{% include 'partials/_search_data.html.twig'%}

	{% if recettes is not empty %}

		<div class="recette ">
			{% for item in recettes %}
			<div class="flex-col">
				<div class="group  rounded-2xl flex-col w-full">
				
					<div class="flex items-center rounded-t-2xl w-full ">
						<img src={{ asset('uploads/recettes/' ~ item.image) }} alt="blogs tailwind section" class=" foto rounded-t-2xl ">
					</div>
					<div class="align-items: stretch p-4 mb-2 lg:p-6 transition-all duration-500 rounded-b-2xl group-hover:bg-gray-200 group border border-gray-300 ">
						<span class="text-indigo-600 font-medium mb-2 block">
							{% set total = 0 %}
							{% for note in item.notes %}
								{% set total = total + note.etoile %}
							{% endfor %}
							{% if total == 0 %}
								Pas encore notée
							{% else %}
								{{ total / item.notes|length }}/5 sur
								{{ item.notes|length }}
								notes
							{% endif %}
						</span>
						<h5 class="text-xl text-gray-900 font-medium leading-8  ">
							{{ item.nom }}
						</h5>
						<p class="text-gray-500 leading-6 mb-2">
							{% set instruction = item.instruction|slice(0, 80) %}
							{{ instruction|raw }}...
						</p></br>
						<a href={{ path('app_recette_one', { slug: item.slug } )}} class="cursor-pointer text-lg text-indigo-600 font-semibold">
							Voir la fiche
						</a>
					</div>
				</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Aucune recette n'a pas été trouvée.</p>
	{% endif %}
	{# Affichage de la pagination  #}
	<nav class="flex justify-center">
		{{ knp_pagination_render(recettes) }}
	</nav>


{% endblock %}
