{% extends 'base.html.twig' %}

{% block title %}
    Categorie - {{ categorie.nom }}
{% endblock %}

{% block body %}
{# Formulaire de recherche #}
	{% include 'partials/_search_data.html.twig'%}

    <h2 class="font-manrope text-4xl font-bold text-gray-900 text-center mb-16">
        Tous les recettes de la {{ categorie.nom }}
    </h2>

	{% if recettes is not empty %}
		
		<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
			{% for item in recettes %}
				<div class="group border border-gray-300 rounded-2xl">
					<div class="flex items-center">
						<img src={{ asset('uploads/recettes/' ~ item.image) }} alt="blogs tailwind section" class="rounded-t-2xl w-full">
					</div>
					<div class="flex flex-col justify-between p-4 lg:p-6 transition-all duration-300 rounded-b-2xl group-hover:bg-gray-50">
						<span class="text-indigo-600 font-medium mb-3 block">
							{% set total = 0 %}
							{% for note in item.notes %}
								{% set total = total + note.etoile %}
							{% endfor %}
							{% if total == 0 %}
								Pas encore notée
							{% else %}
								{{ total / item.notes|length }}/5 sur
								{{ item.notes|length }}
								notes
							{% endif %}
						</span>
						<h4 class="text-xl text-gray-900 font-medium leading-8">
							{{ item.nom }}
						</h4>
						<p class="text-gray-500 leading-6 mb-10">
							{% set instruction = item.instruction|slice(0, 80) %}
							{{ instruction|raw }}...
						</p>
						<a href={{ path('app_recette_one', { slug: item.slug } )}} class="cursor-pointer text-lg text-indigo-600 font-semibold">
							Voir la fiche
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Aucune recette n'a pas été trouvée.</p>
	{% endif %}
	 {# Affichage de la pagination  #}
    <nav class="pagination">
        {{ knp_pagination_render(recettes) }}
    </nav>

	
	
{% endblock %}
